/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
   background-color: rgb(207, 206, 206);
}

.center-container{
   display: flex;
   justify-content: center;
   background-color: rgb(207, 206, 206);
   align-items: center; 
   padding: 10px 0px;

}

.mobile-container {
  background-color: white;
  border-radius: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 360px; 
  margin: 0 auto; 
  padding: 5px; 
} 


.footer{
  padding: 10px;
    border-radius: 0px 0px 20px 20px;
}


.online-dot {
  position: absolute;
  bottom: 5px;
  right: -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  border: 1px solid white;
}


@layer components {
   .filter-btn button {
    @apply bg-slate-100 rounded-md px-3 py-1 my-2 mr-2;
  }

  .header{
    @apply bg-slate-100 p-3 flex justify-between;
     border-radius: 20px 20px 0px 0px;
     align-items: center;
  }
}